$primary:       #106EDC !default;
$secondary:     #F6F6F6 !default;
$light:         #F2F6F9 !default;
$gray:          #82898F !default;
$gray-blue:     #bbc0c5 !default;
$dark:          #10171E !default;
$black:         #000000 !default;
$white:         #ffffff !default;

$theme-colors: () !default;
$theme-colors: map-merge(
  (
    "primary":    $primary,
    "secondary":  $secondary,
    "light":      $light,
    "dark":       $dark,
    "white":      $white,
  ),
  $theme-colors
);

$border-radius: 6px;
$border-color: #DFE3E7;

$normal: 400;
$bold: 500;
$bolder: 700;